<div class="main">
	 <div class="wrap">
		<div class="products">
			 <div class="top-box">
				<h2><%= image_tag("bosley.png", :alt => "") %></h2>
				<hr>
			 </div>
			 <div class="padd">
                <div class="row">
                    <div class="span6 offset3">
                        <h4 class="head" style="text-align: center;">Всемирно известный лидер в области восстановления волос – американская компания BOSLEY , использующая в разработке профессиональной косметики 30-летний опыт работы по пересадке волос – представляет линию профессиональных средств для роста волос и первый салонный уход от выпадения,  для активизации роста и лечения волос.</h4>
                    </div>
                    <div class="clearfix"></div>
                 </div>
            </div>
		    <div class="padd">
				<% @products.each do |product| %> <div class="col_1_of_1 span_1_of_1">
					<div class="list-box"><div class="grid_img"> <%= image_tag(product.image_url, :class => "product_image") %> </div><h4><%= product.title %></h4> <p class='txt1'>
					<%= sanitize(product.description) %></p><p class='txt2'>Применение:<br><%= sanitize(product.description2) %></p> <div class="price_line"> 
					<span class="price"><%= product.price %></span> </div> <% end %>
				</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	 </div>
	</div>