<div class="main" style="background: -webkit-gradient(radial, center center, 0, center center, 340, from(#ffec00), to(#f4c300));">
		<div class="content-top">
			 <div class="top-box">
				<%= image_tag("yellowbig.png", :alt => "") %>
			 </div>
		    <div class="section group">
				<div class="col_1_of_4m span_1_of_4m" id="parent">
					<div class="grid_img">
					 	<%= link_to "http://lundenilona.kz" do 
					 	image_tag("lundenilona.png", :alt => "",  width: "150")
					 	end %>
					</div>
					<div id="children"><span style="font-size:10px;">LUNDENILONA – это российская органическая косметика класса премиум. Несмотря на молодость бренда, он стал очень популярным благодаря своей эффективности и чрезвычайно богатому составу. В состав средств LUNDENILONA входят натуральные масла, 32 микроэлемента и 14 витаминов.
</span>
				</div>
				</div>
				<div class="col_1_of_4m span_1_of_4m" id="parent">
					<div class="grid_img">
						<%= link_to "bosley" do 
							image_tag("bosley.png", :alt => "" ,  width: "150") 
						end
						%>
					</div>
					<div id="children"><span style="font-size:10px;">Всемирно известный лидер в области восстановления волос – американская компания BOSLEY , использующая в разработке профессиональной косметики 30-летний опыт работы по пересадке волос – представляет линию профессиональных средств для роста волос и первый салонный уход от выпадения,  для активизации роста и лечения волос.</span>
				</div>
				</div>
				<div class="col_1_of_4m span_1_of_4m" id="parent">
					<div class="grid_img">
						<%= link_to "sexyhair" do 
							image_tag("sexyhair.png", :alt => "",  width: "150") 
						end %>
					</div>
					<div id="children"><span style="font-size:10px;">Продукты  бренда Sexy Hair стали непременным must-have для многих  мировых звезд, в том числе Дженнифер Лопес, Энджи Хармон и Ума Турман.  Бренд Sexy Hair представлен более чем в 45 странах, а на территории США более чем в 60 000 лицензированных салонах.</span>
				</div>
				</div>
				<div class="col_1_of_4m span_1_of_4m" id="parent">
					<div class="grid_img">
						<%= link_to "macadamia" do 
							image_tag("macadamia.png", :alt => "",  width: "150")
						end %>
					</div>
					<div id="children"><span style="font-size:10px;">Профессиональная косметика для домашнего и салонного ухода. Вся продукция компании Macadamia Natural Oil содержит два самых дорогих и эффективных масла: Арганы и Макадамии и позиционируется, как профессиональный SPA-уход за волосами. Macadamia Natural Oil представлена более чем в 60 странах мира.</span></div>
				</div>
				<div class="clear"></div>
				<div style="height:250px;">
				
		</div><div class="clear"></div>
			</div>

		
	   </div>
</div>