<div class="mainm">
      <div class="products">
             <div class="top-boxm">
                <h2><%= image_tag("macadamia.png", :alt => "") %></h2>
                <hr>
             </div>
             <div class="padd">
                <div class="row">
                    <div class="span6 offset3">
                        <h4 class="head" style="text-align: center;">Профессиональная косметика для домашнего и салонного ухода. Вся продукция компании Macadamia Natural Oil содержит два самых дорогих и эффективных масла: Арганы и Макадамии и позиционируется, как профессиональный SPA-уход за волосами. Macadamia Natural Oil представлена более чем в 60 странах мира.</h4>
                    </div>                    <div class="clearfix"></div>
                 </div>
            </div>
            <div class="section group">
                <% @products.each do |product| %> <div class="col_1_of_1m span_1_of_1m">
                    <div class="list-box"><div class="grid_imgm"> <%= image_tag(product.image_url, :class => "product_image_mob") %> </div><h4><%= product.title %></h4> <p class='txt1'>
                    <%= sanitize(product.description) %></p><p class='txt2'>Применение:<br><%= sanitize(product.description2) %></p> <div class="price_line"> 
                    <span class="price"><%= simple_format product.fullprice %></span> </div> </div>
                </div><div class="clear"></div><% end %>
                
                
            </div>
        </div>
     </div>