<div class="mainm">
		<div class="products">
			 <div class="top-boxm">
				<h2><%= image_tag("sexyhair.png", :alt => "") %></h2>
				<hr>
			 </div>
			 <div class="padd">
                <div class="row">
                    <div class="span6 offset3">
                        <h4 class="head" style="text-align: center;">Продукты  бренда Sexy Hair стали непременным must-have для многих  мировых звезд, в том числе Дженнифер Лопес, Энджи Хармон и Ума Турман.  Бренд Sexy Hair представлен более чем в 45 странах, а на территории США более чем в 60 000 лицензированных салонах.</h4>
                    </div>
                    <div class="clearfix"></div>
                 </div>
            </div>
		    <div class="section_group">
				<% @products.each do |product| %> <div class="col_1_of_1m span_1_of_1m">
					<div class="list-box"><div class="grid_imgm"> <%= image_tag(product.image_url, :class => "product_image_mob") %> </div><h4><%= product.title %></h4> <p class='txt1'>
					<%= sanitize(product.description) %></p>
<% if product.description2.blank? %><b style="font-size: 12px;">Применение:</b><% else %><% end %>
					<p class='txt2'><%= sanitize(product.description2) %></p> <div class="price_line">
					<b style="font-size: 12px;">Цена:</b> 
					<span class="price"><%= simple_format product.fullprice %></span>  </div> </div>
				</div><div class="clear"></div><% end %>
				
			</div>
		</div>
	</div>