<!DOCTYPE html>
<html>
<head>
  <title>Yellowstore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
<% if current_page?(root_url)%>
<% else %>
<div class="header">	
  <div class="wrap"> 
	<div class="header-top">
		 <div class="logo">
			 <h1><%= link_to "/" do %><%= image_tag("yellowlogo.png", :alt => "Вернуться на главную") %><% end %></h1>
		 </div>
	    <div id="text-6" class="visible-all-devices header-text ">			
	    	<div class="textwidget"><b>
				<h5 class="phone">+7 727 244 05 05</h5></b></div>
		</div>
		 <div class="clear"></div> 
	   </div>
   </div>	
</div>
<% end %>
      <!------ Slider ------------>

   <div class="banner">
      <div class="wrap">
		   <div class="cssmenu1">
				<ul>
				   <li class="<%= 'active' if current_page?(partners_path) %>">
					<%= link_to "partners" do %>
					<span>Партнерам</span>
					<% end %></li>
					<li class="<%= 'active' if current_page?(contacts_path) %>">
					<%= link_to "contacts" do %>
					<span>Контакты</span>
					<% end %></li>
				 	<div class="clear"></div>
				 </ul>
	          </div>
	    </div>
   </div>


<%= yield %>
	<div class="footer">
		<div class="wrap">
			<div class="footer-text">
				
				<ul class="follow_icon">
					<li><a href="http://instagram.com/yellow_kz" style="opacity: 1;"><%= image_tag("rss.png", :alt => "rss feed") %></a></li>
				</ul>
			</div>	
		</div>
	</div>
</body>
</html>
