<!DOCTYPE html>
<html>
<head>
  <title>Yellowstore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_page?(root_url)%>
<% else %>
<div class="wrap"> 
<div class="header">	

	<div class="header-top">
		 <div class="logo">
			 <h1><%= link_to "/" do %><%= image_tag("yellowlogo.png", :alt => "Вернуться на главную") %><% end %></h1>
		 </div>
	    <div id="text-6" class="visible-all-devices header-text ">			
	    	<div class="textwidget"><b>г. Алматы<br>
				ул. Шевченко 118, офис 120<br>
				<h5 class="phone">+7 727 244 05 05</h5></b></div>
		</div>
		 <div class="clear"></div> 
	   </div>
   	
</div>
<% end %>
      <!------ Slider ------------>
   <div class="banner">
   			<div class="drp-dwn">
			 	<select onchange="window.location=this.options[this.selectedIndex].value">
					<option value="partners">Партнерам</option>
					<option value="contacts">Контакты</option>
				 </select>
			</div>
	    </div>


<%= yield %>
	<div class="footer">
			<div class="footer-text">
				
				<ul class="follow_icon">
					<li><a href="http://instagram.com/yellow_kz" style="opacity: 1;"><%= image_tag("rss.png", :alt => "rss feed") %></a></li>
				</ul>
			</div>	
	</div>
	</div>
</body>
</html>
